<div class="container">
  <br>
  <br>
  <div class="uk-child-width-expand@s uk-text-center" uk-grid style="padding-left: 10px;padding-right: 10px;">
    <div>
     <div>
      <div class="uk-card uk-card-primary uk-card-body" style="background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);">
    
      </div>
    </div>
  </div>
  <div>
    <div class="uk-card uk-card-primary uk-card-body" style="background-color: #673AB7;">
      <h3 class="uk-card-title" style="text-align: left">Primary</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
  </div>
  <div>
    <div class="uk-card uk-card-primary uk-card-body" style="background-color: #FFC107;">
      <h3 class="uk-card-title" style="text-align: left">Primary</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
  </div>
</div>
</div>
