<div class="eq fp afd amk asi">
    <div class="brh bpq"><iframe class="chartjs-hidden-iframe" tabindex="-1" style="display: block; overflow: hidden; border: 0px; margin: 0px; top: 0px; left: 0px; bottom: 0px; right: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
      <div class="ago">
        <span class="bpi">Downloads</span>
        <h2 class="bph">
          758
          <small class="bpj bpl">1.3%</small>
        </h2>
        <hr class="bpr aei">
      </div>
      <canvas id="sparkline1" width="1350" height="334" class="bri js-chart-drawn" data-chart="spark-line" data-dataset="[[4,34,64,27,96,50,80]]" data-labels="['a', 'b','c','d','e','f','g']" style="width: 675px; height: 167px; display: block;"></canvas>
    </div>
</div>