<!-- The drawer is always open in large screens. The header is always shown,
  even in small screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
            mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
      </div>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <br>
    <span class="mdl-layout-title" style="font-family: 'Rajdhani', sans-serif;font-weight: 1000;color: #4A35A2; font-size: 30pt;"> <img src="/assets/img/logo-dark.png" style="width: 40%;"> <span style="font-family: 'Marck Script', cursive;font-weight: 100; font-style: normal; font-size: 30pt;color: #2C374D">Bot</span></span>
    <br>
    <br>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="/dashboard" style="text-decoration: none; text-align: left;font-family: 'Rajdhani', sans-serif;font-size: 14pt;color: #4A35A2; font-weight: bold;">Home</a>

    </nav>
  </div>
  <main class="mdl-layout__content" style="background-color: #a4b0be">
    <div class="page-content">
      <dash>
        
      </dash>
    </div>
  </main>
</div>